.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 4px #6b6b6b8a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .navbar {
        height: 50px;
    }
}


.navbar-logo {
    margin-inline: auto;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
    .navbar-logo {
        margin-inline: 0;
        font-size: 1.1rem;
    }
}

.navbar-logo-link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.navbar-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -100%;
    top: 70px;
    background-color: #fff;
    width: 40%;
    height: 100vh;
    z-index: 1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

@media screen and (max-width: 600px) {
    .navbar-items {
        top: 50px;
        width: 100%;
    }
}

.navbar-items > a {
    padding-inline: 0px;
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
    margin-block: 45px;
    text-align: center;
    color: #000;
    position: relative;
}

@media screen and (max-width: 600px) {
    .navbar-items > a {
        font-size: 1.2rem;
        margin-block: 15%;
    }
}


.section {
    padding: 0 50px;
}


@media screen and (max-width: 600px) {
    .section {
        padding: 0 10px;
    }
}



input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}
  
.bar {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
    bottom: 3px;
}

@media screen and (max-width: 600px) {
    .bar {
        width: 45px;
        height: 35px;
    }
}
  
.bar span {
    position: absolute;
    width: 45px;
    height: 7px;
    background: #f1faee;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
}

@media screen and (max-width: 600px) {
    .bar span {
        position: absolute;
        width: 40px;
        height: 5px;
    }
}
  
.bar span.top {
    top: 0;
}

  
.bar span.middle {
    top: 17px;
}
  
.bar span.bottom {
    bottom: 10px;
}
  
input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 7px;
    top: -20px;
}

@media screen and (max-width: 600px) {
    input[type]:checked ~ span.top {
        width: 40px;
        left: 7px;
        top: -15px;
    }
}
  
input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -20px;
    box-shadow: 0 0 10px #495057;
}

@media screen and (max-width: 600px) {
    input[type]:checked ~ span.bottom {
        transform: rotate(-45deg);
        transform-origin: top left;
        width: 40px;
        bottom: -18px;
        left: 2px;
        box-shadow: 0 0 10px #495057;
    }
}
  
input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
}