.contact-container {
    position: relative;
    top: 70px;
    min-height: calc(100%- 70px);
    padding: 0 50px 150px 50px;
}

@media screen and (max-width: 600px) {
    .contact-container {
        top: 50px;
        min-height: calc(100%- 50px);
        padding: 0 10px 50px 10px;
    }
}


.contact-title {
    margin: 50px 0;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .contact-title {
        margin: 40px 0;
        text-align: center;
        font-size: 1.3rem;
    }
}


.contact-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}

@media screen and (max-width: 600px) {
    .contact-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 7rem;
    }
}


.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 400px;
}

@media screen and (max-width: 600px) {
    .form__group {
        position: relative;
        padding: 20px 0 0;
        margin-top: 10px;
        width: 70vw;
    }
}

form {
    padding: 50px 15px;
    border-radius: 10px;
    border: 2px solid #2ecc71;
}

@media screen and (max-width: 600px) {
    form {
        padding: 20px;
    }
}
  
.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

@media screen and (max-width: 600px) {
    .form__field {
        font-size: 1.1rem;
    }
}
  
.form__field::placeholder {
    color: transparent;
}
  
.form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

@media screen and (max-width: 600px) {
    .form__field:placeholder-shown ~ .form__label {
        font-size: 1rem;
    }
}
  
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}
  
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #2ecc71, #BF0426);
    border-image-slice: 1;
}
  
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #2ecc71;
    font-weight: 700;
}
  
  /* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}



/*** CARD **/

/* From uiverse.io by @abrahamcalsin */
.card-client {
    background: #2cb5a0;
    background: #2ecc71;
    width: 16rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #7cdacc;
    border: 4px solid #27ae60;
    box-shadow: 0 6px 10px #27ae5fc5;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
}
  
.card-client:hover {
    transform: translateY(-10px);
}
  
.user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 4px solid #27ae60;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
  
.user-picture img {
    width: 100%;
    
}
  
.name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.2rem;
}
  
.name-client span {
    display: block;
    font-weight: 300;
    font-size: 0.7rem;
    letter-spacing: 1px;
}
  
.social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #27ae60;
}
  
.social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg,
  .social-media a img
   {
    width: 1.1rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
.social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
}


.contact-bttn {
    margin-top: 4rem;
    width: max-content;
    margin-inline: auto;
}

@media screen and (max-width: 600px) {
    .contact-bttn {
        margin-top: 2rem;
    }
}

.contact-button {
    position: relative;
    padding: 5px 20px;
    margin: 0px 5px 5px 0px;
    float: left;
    border-radius: 3px;
    font-size: 1.1rem;
    color: #FFF;
    text-decoration: none;
    background-color: #2ecc71;
    border: none;
    border-bottom: 5px solid #27ae60;
    text-shadow: 0px -2px #27ae60;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
}
   
.contact-button:hover, .contact-button:active {
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
    border-bottom: 1px solid #2ecc71 transparent;
}